.button {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px #20A4F3;
  line-height: 1.25;
  border: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: .08em;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  width: 25%;
}
