.landing_main_container .container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .landing_main_container .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.landing_main_container .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.landing_main_container .theme-switch input {
  display: none;
}

.landing_main_container .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.landing_main_container .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

.landing_main_container input:checked + .slider {
  background-color: #66bb6a;
}

.landing_main_container input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.landing_main_container .slider.round {
  border-radius: 34px;
}

.landing_main_container .slider.round:before {
  border-radius: 50%;
}

.landing_main_container .landing_title_and_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

@media (max-width: 768px) {
  .landing_main_container .landing_title_and_image {
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

.landing_main_container .landing_title_and_image .landing_title_container {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing_main_container .landing_title_and_image .landing_title_container .title_and_text {
  padding-left: 80px;
  padding-right: 80px;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .landing_main_container .landing_title_and_image .landing_title_container .title_and_text {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}

.landing_main_container .landing_title_and_image .landing_title_container .title_and_text .landing_title {
  color: #FFFFFF;
  font-size: 64px;
}

@media (max-width: 768px) {
  .landing_main_container .landing_title_and_image .landing_title_container .title_and_text .landing_title {
    font-size: 52px;
  }
  .landing_main_container .landing_title_and_image .landing_title_container .title_and_text .landing_title h1 {
    font-size: 52px !important;
  }
}

.landing_main_container .landing_title_and_image .landing_title_container .title_and_text .landing_title_light_mode {
  color: #000000;
  font-size: 64px;
  margin-top: 150px;
}

.landing_main_container .landing_title_and_image .landing_title_container .title_and_text h4 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-top: 20px;
  font-weight: 500;
}

.landing_main_container .landing_title_and_image .landing_title_container .title_and_text .h4_light_mode {
  color: #000000;
  font-size: 1.25rem;
  margin-top: 40px;
  font-weight: 500;
}

.landing_main_container .landing_title_and_image .landing_image_container {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .landing_main_container .landing_title_and_image .landing_image_container {
    margin-top: 30px;
    height: 100%;
  }
}

.landing_main_container .landing_title_and_image .landing_image_container .image_container {
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .landing_main_container .landing_title_and_image .landing_image_container .image_container img {
    height: 60% !important;
  }
}

@media (max-width: 768px) {
  .landing_main_container .landing_title_and_image .landing_image_container .image_container {
    margin-top: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.landing_main_container .landing_title_and_image .landing_image_container .landing_fighters_image {
  height: -webkit-fill-available;
  width: 100%;
}

.landing_main_container .landing_title_and_image .landing_image_container .landing_image_text_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #E2FCEF;
  -webkit-text-stroke: 1px black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-filter: blur(1px) hue-rotate(10deg);
          filter: blur(1px) hue-rotate(10deg);
}

.landing_main_container .landing_title_and_image .landing_image_container .landing_image_text_overlay h2 {
  font-size: 56px;
  margin-bottom: 10px;
}

.landing_main_container .landing_statistics_container {
  width: 80vw;
  background-color: #402039;
  height: 300px;
  margin: auto;
  border-radius: 10px;
}

.landing_main_container .landing_success_rate_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .landing_main_container .landing_success_rate_container {
    text-align: center;
  }
}

.landing_main_container .landing_success_rate_container h2 {
  font-size: 42px;
}

.landing_main_container .landing_success_rate_container h4 {
  font-size: 32px;
}

.landing_main_container .landing_success_rate_container .landing_success_percentage {
  background-color: #181818;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

.landing_main_container .landing_success_rate_container_light_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
  color: #000000;
}

.landing_main_container .landing_success_rate_container_light_mode h2 {
  font-size: 42px;
}

.landing_main_container .landing_success_rate_container_light_mode h4 {
  font-size: 32px;
}

.landing_main_container .landing_success_rate_container_light_mode .landing_success_percentage {
  background-color: #ffffff;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
}

.landing_main_container .landing_card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .landing_main_container .landing_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.landing_main_container .landing_card_container .landing_card {
  border: 1px solid #F6F7F8;
  height: 60vh;
  width: 400px;
  padding: 25px;
}

.landing_main_container .landing_card_container .landing_card .landing_card_main_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.landing_main_container .landing_card_container .landing_card .landing_card_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #F6F7F8;
}

.landing_main_container .landing_card_container .landing_card .landing_card_items .landing_card_items_tick_and_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  margin-bottom: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 4px;
}

.landing_main_container .landing_card_container .landing_card .landing_card_items .landing_card_items_tick_and_text i {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
}

.landing_main_container .landing_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.landing_main_container .landing_button_container .sign_up_button {
  margin-bottom: 50px;
  margin-top: 50px;
  cursor: pointer;
  color: white;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5em;
  border: solid .25em transparent;
  padding: 1em 1.5em;
  border-radius: 9em;
  background: -webkit-gradient(linear, left top, right bottom, from(var(--slist))) border-box;
  background: linear-gradient(to right bottom, var(--slist)) border-box;
  font: 700 1.5em/ 1.25 ubuntu, sans-serif;
  text-transform: uppercase;
}

.landing_main_container .landing_button_container .sign_up_button::after {
  content: attr(data-ico);
}

.landing_main_container .landing_features_container_dark {
  color: white;
  text-align: center;
}

.landing_main_container .landing_features_container_dark h1 {
  font-size: 28px;
  padding-bottom: 30px;
}

.landing_main_container .landing_features_container_light {
  color: black;
  text-align: center;
}

.landing_main_container .landing_features_container_light h1 {
  font-size: 28px;
  padding-bottom: 30px;
}

.landing_main_container .landing_about_container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  white-space: pre-wrap;
  margin-top: 40px;
}

.landing_main_container .landing_about_container h1 {
  font-size: 42px;
}

.landing_main_container .landing_about_container p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.landing_main_container .landing_sqaure_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.landing_main_container .gradient-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

@media (max-width: 768px) {
  .landing_main_container .gradient-cards {
    padding-bottom: 0;
  }
}

.landing_main_container .card {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 0;
  width: 100%;
  margin-inline: auto;
  text-align: initial;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #20A4F3;
  border-radius: 7px;
}

.landing_main_container .card .icon_container {
  width: 50px;
  height: 50px;
  border: 1px solid #20A4F3;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing_main_container .container-card {
  position: relative;
  border: 2px solid transparent;
  background-color: #000;
  border-radius: 7px;
  padding: 40px;
}

.landing_main_container .container-card img {
  margin-bottom: 32px;
}

.landing_main_container .card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.landing_main_container .card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
}

.landing_main_container .landing_about_container_light_mode {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  white-space: pre-wrap;
  margin-top: 40px;
}

.landing_main_container .landing_about_container_light_mode h1 {
  font-size: 42px;
}

.landing_main_container .landing_about_container_light_mode p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.landing_main_container .landing_logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px;
}

.landing_main_container .rtl_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-top: 50px;
  height: 60vh;
  margin-bottom: 70px;
}

@media (max-width: 1200px) {
  .landing_main_container .rtl_container {
    display: none;
  }
}

.landing_main_container .rtl_container .mac_image_container {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.landing_main_container .rtl_container .mac_image_container .computer {
  height: 100%;
}

.landing_main_container .rtl_container .events_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100%;
  margin-right: 20px;
}

.landing_main_container .rtl_container .events_container .icon_container {
  width: 50px;
  height: 50px;
  border: 1px solid #20A4F3;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.landing_main_container .rtl_container .events_container h4 {
  font-weight: 100;
  margin-top: 20px;
  line-height: 34px;
  width: 90%;
}

.landing_main_container .landing_pricing_container {
  color: white;
  text-align: center;
}

.landing_main_container .landing_pricing_container .pricing_card_container {
  text-align: left;
  padding: 20px;
  width: 400px;
  border: 1px solid gray;
  margin-bottom: 100px;
}

.landing_main_container .landing_pricing_container .pricing_card_container h4 {
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.landing_main_container .landing_pricing_container .pricing_card_container hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing_main_container .landing_pricing_container .pricing_card_container .pricing_card_description {
  height: 20%;
}

.landing_main_container .landing_pricing_container .signup_button {
  border: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 3px solid #0056b3;
  /* Add a bottom border to the button */
}

.landing_main_container .landing_pricing_container .checkmark::before {
  content: "\2713";
  /* Unicode checkmark character */
  font-family: "Arial", sans-serif;
  /* Use a font that includes the checkmark symbol */
  color: #007bff;
  /* Green color for the checkmark */
  margin-right: 5px;
}

.landing_main_container .landing_pricing_container .pricing_cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

@media (max-width: 768px) {
  .landing_main_container .landing_pricing_container .pricing_cards_container {
    gap: 5px;
  }
}

.card_dark {
  border: 1px solid #20A4F3;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
  color: white;
  font-size: 24px;
}

@media (max-width: 768px) {
  .card_dark {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.card_light_mode {
  border: 3px solid #212121;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  text-align: center;
  color: black;
  font-size: 24px;
  height: 80vh;
}

@media (max-width: 768px) {
  .card_light_mode {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 90%;
    margin: auto;
  }
}

.card_light_mode:not(:last-child) {
  margin-bottom: 20px;
  /* Add margin-bottom to all but the last occurrence */
}

.card-icon {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.list-icon {
  font-size: 24px;
  margin-right: 10px;
  margin-left: auto;
}

.list-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  font-size: 18px;
}

.landing_card_title {
  font-size: 32px;
  text-align: center;
  color: #F6F7F8;
  min-height: 70px;
}

.landing_card_title_light_mode {
  font-size: 32px;
  text-align: center;
  color: #101010;
  min-height: 70px;
}
/*# sourceMappingURL=Landing.css.map */