.landing_main_container {
  height: 100%;
  // background-color: red;

  .landing_title_and_image {
    display: flex;
    // align-items: center;
    width: 90%;
    margin: auto;

    .landing_title_container {
      // border: 2px solid red;

      .landing_title {
        color: #FFFFFF;
        font-size: 64px;
        margin-top: 150px;
      }

      h4 {
        color: #B5B5B5;
        font-size: 1.25rem;
        margin-top: 40px;
      }
    }


    .landing_image_container {
      position: relative;
      display: inline-block;
      margin-top: 100px;

      .landing_fighters_image {
        width: 50vw;
      }

      .landing_image_text_overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #E2FCEF;
        -webkit-text-stroke: 1px black;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        filter: blur(0.5px);
        width: max-content;
        filter: blur(1px) hue-rotate(10deg);
        /* Adjust the blur and hue-rotate values as desired */

        /* Adjust the opacity and color as desired */

        /* Adjust blend mode as desired */

        h2 {
          font-size: 56px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .landing_statistics_container {
    width: 80vw;
    // background-color: #9B287B;
    // background-color: #5C164E;
    background-color: #402039;
    height: 300px;
    margin: auto;
    border-radius: 10px;
  }

  .landing_success_rate_container {
    // border: 2px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: #FFFFFF;

    h2 {
      font-size: 42px;
    }

    h4 {
      font-size: 32px;
    }

    .landing_success_percentage {
      background-color: #181818;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
  }

  .landing_card_container {
    display: flex;
    justify-content: center;

    .landing_card {
      border: 1px solid #F6F7F8;
      height: 60vh;
      width: 400px;
      padding: 25px;



      .landing_card_main_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
      }

      .landing_card_items {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #F6F7F8;

        .landing_card_items_tick_and_text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          margin-bottom: 10px;
          align-items: flex-start;
          margin-top: 4px;
          // margin: 0 auto;
          /* Adjust the margin-top value as needed */

        }

        .landing_card_items_tick_and_text i {
          flex-shrink: 0;
          margin-right: 10px;
        }
      }
    }
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  // margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 24px;
  height: 80vh;
}

.card-icon {
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
  /* Center-align the list items */
}

.list-icon {
  font-size: 24px;
  margin-right: 10px;
  margin-left: auto;

  /* Center-align the icon within the list items */
}

.list-text {
  flex: 1;
  text-align: left;
  font-size: 18px;

  /* Left-align the text within the list items */
}

.landing_card_title {
  font-size: 32px;
  text-align: center;
  color: #F6F7F8;
  min-height: 70px;
}

.landing_button_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .sign_up_button {
    cursor: pointer;
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-gap: .5em;
    border: solid .25em transparent;
    padding: 1em 1.5em;
    border-radius: 9em;
    background:
      linear-gradient(to right bottom, var(--slist)) border-box;
    font: 700 1.5em/ 1.25 ubuntu, sans-serif;
    text-transform: uppercase;

    &::after {
      content: attr(data-ico)
    }
  }
}
