.event_poster {
  width: 100vw;
  height: 70vh;
}

.upcoming_event_title {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}

.fighter_name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  padding-left: 15px;
}

.percentage_win {
  font-size: 14px;
}

.upcoming_events_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  .upcoming_events_fight_container {
    width: 60%;
    margin-top: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-rows: auto;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    .fighters_container {
      display: grid;
      grid-template-columns: 30% auto 30%;
    }

    .fighters_container::before {
      grid-column: 1 / -1;
      content: "";
      height: 2px;
      background:
        linear-gradient(to right, red 0%, red 50%, blue 51%, blue 100%);
      background-size: 100% 50%;
      background-repeat: no-repeat;
    }

    .percentage_container {
      display: grid;
      grid-template-columns: 20% auto 20%;
      padding-top: 5px;


      .fighter_1_percentage_container {
        display: grid;
        justify-content: center;

      }

      .fighter_2_percentage_container {
        display: grid;
        justify-content: center;
      }
    }

    .fighter_image_container {
      display: grid;
      grid-template-columns: 20% auto 20%;
      padding-top: 5px;


      .fighter_1_percentage_container {
        display: grid;
        justify-content: center;

      }

      .fighter_2_percentage_container {
        display: grid;
        // justify-content: end;
        justify-content: center;
      }
    }

    .fighter_image_container_large {
      grid-template-columns: 30% auto 30%;
      display: grid;

      padding-top: 5px;


      .fighter_1_percentage_container {
        display: grid;
        justify-content: center;

      }

      .fighter_2_percentage_container {
        display: grid;
        // justify-content: end;
        justify-content: center;
      }
    }

    .fighter_1_container {
      grid-row: 1;
      display: grid;
      justify-content: start;
    }

    .vs {
      grid-row: 1;
      justify-self: center;

      p {
        font-size: 14px;
      }
    }

    .fighter_2_container {
      grid-row: 1;
      display: grid;
    }

    .winner_container {

      justify-content: center;
      display: grid;
      height: 40px;
      margin-top: 20px;

      h3 {

        font-weight: 100;
      }
    }

    .opened_container {
      display: grid;
      // border: 2px solid green;
      grid-template-columns: 1fr 1fr 1fr;
      /* Three columns for all rows */
      grid-template-rows: auto;
      /* Let the rows adjust their height based on content */
      // gap: 10px;
      column-gap: 10px;
      /* Add some spacing between grid items */

      .dans_class {
        // background-color: lightgray;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 4px;
        text-align: center;

        // text-decoration: underline;
        .stat_title {
          text-align: center;
        }
      }

      .border {
        position: relative;
      }

      .border:before,
      .border:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: white;
      }

      .border:before {
        left: 0;
      }

      .border:after {
        right: 0;
      }

      .red {
        color: #f73e3e;
      }

      .blue {
        color: #6565ff;
      }


      .dans_class:first-child {

        grid-column: 1 / span 3;
        /* Make the first item span across three columns */
      }
    }


  }

  .upcoming_events_fight_container_large {
    width: fit-content;
    margin-top: 20px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: grid;
    grid-template-rows: auto;
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    .fighters_container {
      display: grid;
      grid-template-columns: 30% auto 30%;
    }

    .fighters_container::before {
      grid-column: 1 / -1;
      content: "";
      height: 2px;
      background:
        linear-gradient(to right, red 0%, red 50%, blue 51%, blue 100%);
      background-size: 100% 50%;
      background-repeat: no-repeat;
    }

    .percentage_container {
      display: grid;
      grid-template-columns: 20% auto 20%;
      padding-top: 5px;


      .fighter_1_percentage_container {
        display: grid;
        justify-content: center;

      }

      .fighter_2_percentage_container {
        display: grid;
        justify-content: center;
      }
    }

    .fighter_image_container {
      display: grid;
      grid-template-columns: 20% auto 20%;
      padding-top: 5px;


      .fighter_1_percentage_container {
        display: grid;
        justify-content: center;

      }

      .fighter_2_percentage_container {
        display: grid;
        // justify-content: end;
        justify-content: center;
      }
    }

    .fighter_image_container_large {
      grid-template-columns: 30% auto 30%;
      display: grid;

      padding-top: 5px;


      .fighter_1_percentage_container {
        display: grid;
        justify-content: center;

      }

      .fighter_2_percentage_container {
        display: grid;
        // justify-content: end;
        justify-content: center;
      }
    }

    .fighter_1_container {
      grid-row: 1;
      display: grid;
      justify-content: start;
    }

    .vs {
      grid-row: 1;
      justify-self: center;

      p {
        font-size: 14px;
      }
    }

    .fighter_2_container {
      grid-row: 1;
      display: grid;
    }

    .winner_container {

      justify-content: center;
      display: grid;
      height: 40px;
      margin-top: 20px;

      h3 {

        font-weight: 100;
      }
    }

    .opened_container {
      display: grid;
      // border: 2px solid green;
      grid-template-columns: 1fr 1fr 1fr;
      /* Three columns for all rows */
      grid-template-rows: auto;
      /* Let the rows adjust their height based on content */
      // gap: 10px;
      column-gap: 10px;
      /* Add some spacing between grid items */

      .dans_class {
        // background-color: lightgray;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 4px;
        text-align: center;

        // text-decoration: underline;
        .stat_title {
          text-align: center;
        }
      }

      .border {
        position: relative;
      }

      .border:before,
      .border:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: white;
      }

      .border:before {
        left: 0;
      }

      .border:after {
        right: 0;
      }

      .red {
        color: #f73e3e;
      }

      .blue {
        color: #6565ff;
      }


      .dans_class:first-child {

        grid-column: 1 / span 3;
        /* Make the first item span across three columns */
      }
    }


  }

}

.upcoming_events_fight_container:hover {
  // background-color: lightgray;
  background-color: #111017;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}
