<select name="Issue" onchange="document.forms.filterForm.submit()" style="background-color: yellow; color: red;">
  <option style="background-color: white; color: " value="135">07/01/2023</option>
  <option selected="" style="background-color: yellow; color: " value="134">04/01/2023</option>
  <option style="background-color: white; color: " value="133">01/01/2023</option>
  <option style="background-color: white; color: " value="132">10/01/2022</option>
  <option style="background-color: white; color: " value="131">07/01/2022</option>
  <option style="background-color: white; color: " value="130">04/01/2022</option>
  <option style="background-color: white; color: " value="129">01/01/2022</option>
  <option style="background-color: white; color: " value="128">10/01/2021</option>
  <option style="background-color: white; color: " value="127">07/01/2021</option>
  <option style="background-color: white; color: " value="126">04/01/2021</option>
  <option style="background-color: white; color: " value="125">01/01/2021</option>
  <option style="background-color: white; color: " value="124">10/01/2020</option>
  <option style="background-color: white; color: " value="123">07/01/2020</option>
  <option style="background-color: white; color: " value="122">04/01/2020</option>
  <option style="background-color: white; color: " value="121">01/01/2020</option>
  <option style="background-color: white; color: " value="120">10/01/2019</option>
  <option style="background-color: white; color: " value="119">07/01/2019</option>
  <option style="background-color: white; color: " value="118">04/01/2019</option>
  <option style="background-color: white; color: " value="117">01/01/2019</option>
  <option style="background-color: white; color: " value="116">10/01/2018</option>
  <option style="background-color: white; color: " value="115">07/01/2018</option>
  <option style="background-color: white; color: " value="114">04/01/2018</option>
  <option style="background-color: white; color: " value="113">01/01/2018</option>
  <option style="background-color: white; color: " value="112">10/01/2017</option>
  <option style="background-color: white; color: " value="111">07/01/2017</option>
  <option style="background-color: white; color: " value="110">04/01/2017</option>
  <option style="background-color: white; color: " value="109">01/01/2017</option>
  <option style="background-color: white; color: " value="108">10/01/2016</option>
  <option style="background-color: white; color: " value="107">07/01/2016</option>
  <option style="background-color: white; color: " value="106">04/01/2016</option>
  <option style="background-color: white; color: " value="105">01/01/2016</option>
  <option style="background-color: white; color: " value="104">10/01/2015</option>
  <option style="background-color: white; color: " value="103">07/01/2015</option>
  <option style="background-color: white; color: " value="102">04/01/2015</option>
  <option style="background-color: white; color: " value="101">01/01/2015</option>
  <option style="background-color: white; color: " value="100">10/01/2014</option>
  <option style="background-color: white; color: " value="99">07/01/2014</option>
  <option style="background-color: white; color: " value="98">04/01/2014</option>
  <option style="background-color: white; color: " value="97">01/01/2014</option>
  <option style="background-color: white; color: " value="96">10/01/2013</option>
  <option style="background-color: white; color: " value="95">07/01/2013</option>
  <option style="background-color: white; color: " value="94">04/01/2013</option>
  <option style="background-color: white; color: " value="93">01/01/2013</option>
  <option style="background-color: white; color: " value="92">10/01/2012</option>
  <option style="background-color: white; color: " value="91">07/01/2012</option>
  <option style="background-color: white; color: " value="90">04/01/2012</option>
  <option style="background-color: white; color: " value="89">01/01/2012</option>
  <option style="background-color: white; color: " value="88">10/01/2011</option>
  <option style="background-color: white; color: " value="87">07/01/2011</option>
  <option style="background-color: white; color: " value="86">04/01/2011</option>
  <option style="background-color: white; color: " value="85">01/01/2011</option>
  <option style="background-color: white; color: " value="84">10/01/2010</option>
  <option style="background-color: white; color: " value="83">07/01/2010</option>
  <option style="background-color: white; color: " value="82">04/01/2010</option>
  <option style="background-color: white; color: " value="81">01/01/2010</option>
  <option style="background-color: white; color: " value="80">10/01/2009</option>
  <option style="background-color: white; color: " value="79">07/01/2009</option>
  <option style="background-color: white; color: " value="78">04/01/2009</option>
  <option style="background-color: white; color: " value="77">01/01/2009</option>
  <option style="background-color: white; color: " value="76">10/01/2008</option>
  <option style="background-color: white; color: " value="75">07/01/2008</option>
  <option style="background-color: white; color: " value="74">04/01/2008</option>
  <option style="background-color: white; color: " value="73">01/01/2008</option>
  <option style="background-color: white; color: " value="72">10/01/2007</option>
  <option style="background-color: white; color: " value="71">07/01/2007</option>
  <option style="background-color: white; color: " value="70">04/01/2007</option>
  <option style="background-color: white; color: " value="69">01/01/2007</option>
  <option style="background-color: white; color: " value="68">10/01/2006</option>
  <option style="background-color: white; color: " value="67">07/01/2006</option>
  <option style="background-color: white; color: " value="66">04/01/2006</option>
  <option style="background-color: white; color: " value="65">01/01/2006</option>
  <option style="background-color: white; color: " value="64">10/01/2005</option>
  <option style="background-color: white; color: " value="63">07/01/2005</option>
  <option style="background-color: white; color: " value="62">04/01/2005</option>
  <option style="background-color: white; color: " value="61">01/01/2005</option>
  <option style="background-color: white; color: " value="60">10/01/2004</option>
  <option style="background-color: white; color: " value="59">07/01/2004</option>
  <option style="background-color: white; color: " value="58">04/01/2004</option>
  <option style="background-color: white; color: " value="57">01/01/2004</option>
  <option style="background-color: white; color: " value="56">10/01/2003</option>
  <option style="background-color: white; color: " value="55">07/01/2003</option>
  <option style="background-color: white; color: " value="54">04/01/2003</option>
  <option style="background-color: white; color: " value="53">01/01/2003</option>
  <option style="background-color: white; color: " value="52">10/01/2002</option>
  <option style="background-color: white; color: " value="51">07/01/2002</option>
  <option style="background-color: white; color: " value="50">04/01/2002</option>
  <option style="background-color: white; color: " value="49">01/01/2002</option>
  <option style="background-color: white; color: " value="48">10/01/2001</option>
  <option style="background-color: white; color: " value="47">07/01/2001</option>
  <option style="background-color: white; color: " value="46">04/01/2001</option>
  <option style="background-color: white; color: " value="45">01/01/2001</option>
  <option style="background-color: white; color: " value="44">10/01/2000</option>
  <option style="background-color: white; color: " value="43">07/01/2000</option>
  <option style="background-color: white; color: " value="42">04/01/2000</option>
  <option style="background-color: white; color: " value="41">01/01/2000</option>
  <option style="background-color: white; color: " value="40">10/01/1999</option>
  <option style="background-color: white; color: " value="39">07/01/1999</option>
  <option style="background-color: white; color: " value="38">04/01/1999</option>
  <option style="background-color: white; color: " value="37">01/01/1999</option>
  <option style="background-color: white; color: " value="36">10/01/1998</option>
  <option style="background-color: white; color: " value="35">07/01/1998</option>
  <option style="background-color: white; color: " value="34">04/01/1998</option>
  <option style="background-color: white; color: " value="33">01/01/1998</option>
  <option style="background-color: white; color: " value="32">10/01/1997</option>
  <option style="background-color: white; color: " value="31">07/01/1997</option>
  <option style="background-color: white; color: " value="30">04/01/1997</option>
  <option style="background-color: white; color: " value="29">01/01/1997</option>
  <option style="background-color: white; color: " value="28">10/01/1996</option>
  <option style="background-color: white; color: " value="27">07/01/1996</option>
  <option style="background-color: white; color: " value="26">04/01/1996</option>
  <option style="background-color: white; color: " value="25">01/01/1996</option>
  <option style="background-color: white; color: " value="24">10/01/1995</option>
  <option style="background-color: white; color: " value="23">07/01/1995</option>
  <option style="background-color: white; color: " value="22">04/01/1995</option>
  <option style="background-color: white; color: " value="21">01/01/1995</option>
  <option style="background-color: white; color: " value="20">10/01/1994</option>
  <option style="background-color: white; color: " value="19">07/01/1994</option>
  <option style="background-color: white; color: " value="18">04/01/1994</option>
  <option style="background-color: white; color: " value="17">01/01/1994</option>
  <option style="background-color: white; color: " value="16">10/01/1993</option>
  <option style="background-color: white; color: " value="15">07/01/1993</option>
  <option style="background-color: white; color: " value="14">04/01/1993</option>
  <option style="background-color: white; color: " value="13">01/01/1993</option>
  <option style="background-color: white; color: " value="12">10/01/1992</option>
  <option style="background-color: white; color: " value="11">07/01/1992</option>
  <option style="background-color: white; color: " value="10">04/01/1992</option>
  <option style="background-color: white; color: " value="9">01/01/1992</option>
  <option style="background-color: white; color: " value="8">10/01/1991</option>
  <option style="background-color: white; color: " value="7">07/01/1991</option>
  <option style="background-color: white; color: " value="6">04/01/1991</option>
  <option style="background-color: white; color: " value="5">01/01/1991</option>
  <option style="background-color: white; color: " value="4">10/01/1990</option>
  <option style="background-color: white; color: " value="3">07/01/1990</option>
  <option style="background-color: white; color: " value="2">04/01/1990</option>
  <option style="background-color: white; color: " value="1">01/01/1990</option>
</select>
